{% extends 'base.html' %}

{% block links_scripts %}
<link rel="stylesheet" href="static/style/login.css">
{% endblock links_scripts %}

<title>{% block title %} {{ title }} {% endblock title %}</title>


{% block main %}
<section class="login_section">
    <div class="center container">
        <div class="login_content">
            <p class="title primary">Вход</p>
            <input type="email" name="email" id="">
            <input type="password" name="password" id="">
            <p>Не можете войти?</p>
            <a href="">Восстановить пароль</a>
        </div>
    </div>

</section>

{% endblock main %}


