{% extends 'base.html' %}

{% block links_scripts %}
<link rel="stylesheet" href="static/style/auth.css">
<script defer src="static/script/auth.js"></script>
{% endblock links_scripts %}

<title>{% block title %} {{ title }} {% endblock title %}</title>

{% block main %}
<section class="auth_section">
    <div class="container">
        <!-- Login Form -->
        <div id="login_form" class="auth_content">
            <p class="title primary">Вход</p>
            <form id="login_form_element" method="POST" action="/auth/jwt/login">
                <input type="email" name="username" id="login_email" placeholder="Электронная почта">
                <input type="password" name="password" id="login_password" placeholder="Пароль">
                <button type="submit" id="login_button">Войти</button>
            </form>
            <p>Не можете войти?</p>
            <a href="/auth/forgot-password">Восстановить пароль</a>
            <div class="form_switch">
                <p>Нет аккаунта?</p>
                <a id="show_registration">Зарегистрироваться</a>
            </div>
        </div>

        <!-- Registration Form -->
        <div id="registration_form" class="auth_content hidden">
            <p class="title primary">Регистрация</p>
            <form id="registration_form_element" method="POST" action="/auth/register">
                <input type="email" name="email" id="reg_email" placeholder="Электронная почта">
                <input type="password" name="password" id="reg_password" placeholder="Пароль">
                <input type="password" name="confirm_password" id="reg_confirm_password" placeholder="Подтвердите пароль">
                <button type="submit" id="register_button">Зарегистрироваться</button>
            </form>
            <div class="form_switch">
                <p>Уже есть аккаунт?</p>
                <a id="show_login">Войти</a>
            </div>
        </div>
    </div>
</section>
{% endblock main %}