* {
    margin: 0;
    padding: 0;
    color: #d9cfcf;
}

body {
    background-color: #121212;
    font-family: 'Roboto', monospace;
    scrollbar-color: #03dac6 #1e1e1e;
}

section {
    margin: 20px;
}

.container {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.title {
    margin-bottom: 10px;
    font-size: 28px;
    font-family: 'Courier New', monospace;
    text-decoration: none;
}

.primary {
    color: #bb86fc;
}

.secondary {
    color: #03dac6;
}
